/* ----- General ----- */
body {
	color: black;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

ul, li {
	list-style-type: none;
}

p {
	text-indent: 50px;
	line-height: 1.5;
}

a:link, a:hover, a:visited, a:active { 
	text-decoration: none;
	color: black;
} 

.left {
	float: left;
}

.right {
	float: right;
}

.fin_float {
	clear: both;
}


/* ----- Top ----- */
#top {
	background-color: grey;
	height: 100px;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	padding: 25px 25px;
}

.top {
}

#id_picture {
	height: 100px;
	width: auto;
}

#top_title_name {

}

#top_title_job {

}

#top_contact_informations {

}


/* ----- Left ----- */
#left {
	position: fixed;
	left: 0;
	color: white;
	padding: 150px 0px;
	height: 800px;
	width: 10%;
	background-color: blue;
}


/* ----- Container ----- */
#content {
	color: black;
	height: 100%;
	width: 80%;
}

/* ----- Right ----- */
#right {
	position: fixed;
	right: 0;
	display: inline-block;
	color: white;
	padding: 150px 0px;
	height: 800px;
	width: 10%;
	background-color: blue;
}


/* ----- Bottom ----- */
#bottom {
	background-color: grey;
	height: 100px;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	padding: 25px 25px;
}