{# src/CoreBundle/Ressources/views/top.html.twig #}

<div id="top">
	<img src="{{ asset('bundles/altgeekcv/images/ID.jpg') }}" id="id_picture" class="top left" alt="id_picture"></img>

	<div id="top_title" class="top left">
		<div id="top_title_name">Florian Chassot</div>
		<div id="top_title_job">Développeur Web et Logiciel</div>
	</div>

	<div id="top_contact_informations" class="top right">
		mail : florian.chassot@gmail.com
		téléphone : 06.50.85.35.38
	</div>

	<div class="fin_float"></div>
</div>